CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-r11-86panel-uboot"
CONFIG_SPL=y
CONFIG_MACH_SUN8I_V3S=y
CONFIG_DRAM_CLK=330
CONFIG_SYS_CLK_FREQ=1000000000
CONFIG_SPL_SPI_SUNXI=y
CONFIG_BOOTDELAY=1
CONFIG_SYS_STDIO_DEREGISTER=y
# CONFIG_ENV_IS_IN_FAT is not set
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="../../../board/yuzukihd/r11-86panel/script/uboot.env"
CONFIG_DM_SPI_FLASH=y
CONFIG_SF_DEFAULT_MODE=3
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XMC=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
# CONFIG_SYSRESET is not set
CONFIG_WATCHDOG_TIMEOUT_MSECS=60000
# CONFIG_WDT is not set
