// SPDX-License-Identifier: (GPL-2.0+ or MIT)
/*
 * Copyright (C) 2020 Arm Ltd.
 */

/dts-v1/;

#include "sun50i-h616.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include "sun50i-h616-cpu-opp.dtsi"

/ {
	model = "MangoPi Mcore";
	compatible = "mgcc,mangopi-mcore", "allwinner,sun50i-h616";

	aliases {
		ethernet0 = &emac0;
		ethernet1 = &emac1;
		serial0 = &uart0;
		serial1 = &uart2;
		mmc0 =&mmc0;
		mmc1 =&mmc1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
	
	connector {
		compatible = "hdmi-connector";
		type = "d";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};

	leds {
		compatible = "gpio-leds";


		status {
			label = "led_blue";
			linux,default-trigger = "heartbeat";
			gpios = <&pio 2 13 GPIO_ACTIVE_HIGH>; /* PC13 */
			default-state = "on";
			
		};
	};
	

	reg_vcc5v: vcc5v {
		/* board wide 5V supply directly from the USB-C socket */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&pio 2 8 GPIO_ACTIVE_HIGH>; /* PC8 */
		status = "okay";
	};
};

&cpu0 {
	cpu-supply = <&reg_dcdca>;
	status = "okay";
};

&gpu {
	mali-supply = <&reg_dcdcc>;
	status = "okay";
};

&ehci0 {
	status = "disabled";
};

&ehci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

/* USB 2 & 3 are on headers only. */

&emac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&ext_rgmii_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_rgmii_phy>;
	phy-supply = <&reg_aldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "disabled";
};

&mdio0 {
	ext_rgmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&emac1{
	pinctrl-names = "default";
	pinctrl-0 = <&rmii_pins>;
	phy-mode = "rmii";
	phy-handle = <&emd_rgmii_phy>;
	phy-supply = <&reg_aldo1>;
	allwinner,rx-delay-ps = <3100>;
	allwinner,tx-delay-ps = <700>;
	status = "okay";
};

&mdio1 {
	emd_rgmii_phy: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;
	};
};


&mmc0 {
	vmmc-supply = <&reg_vcc3v3>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>;	/* PF6 */
	bus-width = <4>;
	status = "okay";
};

&mmc2 {
	vmmc-supply = <&reg_aldo1>;
	vqmmc-supply = <&reg_bldo1>;
	bus-width = <8>;
	non-removable;
	cap-mmc-hw-reset;
	mmc-hs200-1_8v;
	status = "disabled";
};

&mmc1 {
	vmmc-supply = <&reg_aldo1>;
	vqmmc-supply = <&reg_aldo1>;
	bus-width = <4>;
	non-removable;
	status = "okay";
};

&spi0  {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <40000000>;
	};
};

&spi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>,<&spi1_cs_pin>;
	spidev@0 {
		compatible = "rohm,dh2228fv";
		status = "okay";
		reg = <0>;
		spi-max-frequency = <2000000>;
	};
};

&ohci0 {
	status = "disabled";
};

&ohci1 {
	status = "okay";
};
&ohci2 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&de {
	status = "okay";
};

&hdmi {
	hvcc-supply = <&reg_bldo1>;
	status = "okay";
};

&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};

&r_i2c {
	status = "okay";

	axp305: pmic@36  {
		compatible = "x-powers,axp1530";
		reg = <0x36>;

		/* dummy interrupt to appease the driver for now */
		interrupt-controller;
		#interrupt-cells = <1>;

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;
		ldo1in-supply = <&reg_vcc5v>;
		ldo2in-supply = <&reg_vcc5v>;

		regulators {
			reg_aldo1: ldo2 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc-sys";
			};

			reg_bldo1: ldo1 {
				regulator-always-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc1v8";
			};

			reg_dcdca: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1200000>;
				regulator-name = "vdd-cpu";
			};

			reg_dcdcc: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <810000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-gpu-sys";
			};

			reg_dcdcd: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-name = "vdd-dram";
			};

		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph_pins>;
	status = "okay";
};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pins>, <&uart1_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

	bluetooth {
              compatible = "realtek,rtl8723ds-bt";
              device-wake-gpios = <&pio 6 17 GPIO_ACTIVE_HIGH>; /* PG17 */
              enable-gpios = <&pio 6 19 GPIO_ACTIVE_HIGH>; /* PG19 */
              host-wake-gpios = <&pio 6 16 GPIO_ACTIVE_HIGH>; /* PG16 */
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&usbotg {
	dr_mode = "otg";	/* USB A type receptable */
	status = "okay";
};

&usbphy {
	status = "okay";
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins>;
	status = "okay";
};

&codec {
	allwinner,audio-routing =
		"Line Out", "LINEOUT";
	status = "okay";
};

&ahub_codec {
	status = "okay";
};

&ahub_cpudai0 {
	status = "okay";
};

&ahub_cpudai1 {
	status = "okay";
};

&ahub_cpudai2 {
	status = "okay";
};

&sndahub {
	status = "okay";
};

&ahub_i2s1 {
	status = "okay";
};

&hdmi_audio {
	status = "okay";
};
