#arch
CONFIG_RISCV=y
CONFIG_SYS_ARCH="riscv"
CONFIG_64BIT=y
CONFIG_PHYS_64BIT=y
#CONFIG_32BIT

#CONFIG_TARGET_ARCH_SUNXI=y
CONFIG_ARCH_SUNXI=y
CONFIG_MACH_SUN20IW1=y

#riscv cfg
#CONFIG_ARCH_RV32I
CONFIG_ARCH_RV64I=y
CONFIG_CMODEL_MEDLOW=y
CONFIG_SUNXI_RISCV_MODE=y
# CONFIG_RISCV_MMODE=y
# CONFIG_RISCV_SMODE=y
CONFIG_RISCV_ISA_C=y
CONFIG_RISCV_ISA_A=y
CONFIG_STACK_SIZE_SHIFT=14

CONFIG_SUNXI_DMA=y

#CONFIG_AXP_GPIO=y
CONFIG_SYS_CONFIG_NAME="sun20iw1p1"
CONFIG_DEFAULT_DEVICE_TREE="sun20i-d1-nezha-uboot"
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_CONSOLE_MUX=y
CONFIG_SUNXI_NECESSARY_REPLACE_FDT=y
CONFIG_RESERVE_FDT_SIZE=0x20000
CONFIG_PRE_CONSOLE_BUFFER=n
# CONFIG_OF_BOARD=y
CONFIG_CMD_SUNXI_BOOTR=y
CONFIG_OF_SEPARATE=y
CONFIG_SYS_TEXT_BASE=0x42000000
CONFIG_SUNXI_FDT_ADDR=0x401e0000
CONFIG_SUNXI_MALLOC_LEN=0x1400000
#Enviroment
CONFIG_ENV_IS_IN_SUNXI_FLASH=y
CONFIG_ENV_SIZE=0x20000
CONFIG_SYS_MAXARGS=64
CONFIG_SUNXI_REDUNDAND_ENVIRONMENT=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_SUNXI_ENV_PARTITION="env"
CONFIG_SUNXI_ENV_REDUNDAND_PARTITION="env-redund"

#SPI
CONFIG_SPI=y
CONFIG_SUNXI_SPI=y
CONFIG_SPI_USE_DMA=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_PUYA=y
CONFIG_SPI_FLASH_FM=y
CONFIG_SPI_FLASH_XT=y
CONFIG_SPI_FLASH_ADESTO=y
CONFIG_SPI_FLASH_XMC=y

CONFIG_SF_DEFAULT_SPEED=50000000
# BIT(12) BIT(13) (SPI_RX_DUAL|SPI_RX_QUAD)
CONFIG_SF_DEFAULT_MODE=0x3000
CONFIG_SPINOR_UBOOT_OFFSET=128
CONFIG_SPINOR_LOGICAL_OFFSET=3040

# flash
CONFIG_SUNXI_SDMMC=y
CONFIG_MMC=y
CONFIG_SUNXI_FLASH=y
CONFIG_SUNXI_SPINOR=y
CONFIG_SUNXI_NAND=y
CONFIG_SUNXI_UBIFS=y
#CONFIG_SUNXI_COMM_NAND_V1=y

#fdt
CONFIG_CMD_FDT=y

#image
# CONFIG_ANDROID_BOOT_IMAGE=y

#sprite
CONFIG_SUNXI_SPRITE=y
CONFIG_SUNXI_SECURE_STORAGE=y

#pwm
# CONFIG_PWM_SUNXI_NEW is not set
CONFIG_PWM_SUNXI=y

#smc
CONFIG_NOT_USE_OPTEE25=y

#ce
CONFIG_SUNXI_CE_DRIVER=y

#partition
CONFIG_EFI_PARTITION=y

#usb otg config
CONFIG_SUNXI_USB=y
CONFIG_SUNXI_EFEX=y
CONFIG_SUNXI_FASTBOOT=y
CONFIG_SUNXI_BURN=y
#image
CONFIG_ANDROID_BOOT_IMAGE=y

#cmd
CONFIG_CMD_SUNXI_TIMER=y
CONFIG_CMD_SUNXI_SPRITE=y
CONFIG_XTENSA_DSP=y
CONFIG_CMD_SUNXI_EFEX=y
CONFIG_CMD_SUNXI_BURN=y

CONFIG_CMD_FASTBOOT=y
CONFIG_CMD_GPT=y
CONFIG_CMD_FAT=y
CONFIG_CMD_PART=y

#secure feature
CONFIG_SUNXI_SECURE_BOOT=y
CONFIG_SUNXI_ANTI_BRUSH=y

#COMP
#CONFIG_SUNXI_COMP_GZ=y

#CONFIG_SYS_DCACHE_OFF=y

#
# SUNXI LOGO DISPLAY
#
CONFIG_CMD_SUNXI_BMP=y
#CONFIG_SUNXI_ADVERT_PICTURE=y
CONFIG_LZMA=y
# CONFIG_SUNXI_SPINOR_BMP is not set
# CONFIG_ENABLE_ADVERT_PICTURE is not set
# CONFIG_CMD_SUNXI_JPEG is not set
CONFIG_DISP2_SUNXI=y
# CONFIG_HDMI_DISP2_SUNXI is not set
CONFIG_HDMI2_DISP2_SUNXI=y
# CONFIG_DEFAULT_PHY is not set
CONFIG_AW_PHY=y
# CONFIG_HDMI2_HDCP_SUNXI is not set
# CONFIG_HDMI2_CEC_SUNXI is not set
# CONFIG_HDMI2_FREQ_SPREAD_SPECTRUM is not set
# CONFIG_VDPO_DISP2_SUNXI is not set
#CONFIG_TV_DISP2_SUNXI=y
# CONFIG_DISP2_TV_GM7121 is not set
# CONFIG_DISP2_TV_AC200 is not set
# CONFIG_EDP_DISP2_SUNXI is not set
# CONFIG_EINK_PANEL_USED is not set

#
# LCD panels select
#
CONFIG_LCD_SUPPORT_K101IM2QA04=y
CONFIG_LCD_SUPPORT_K101IM2BYL02L=y
CONFIG_LCD_SUPPORT_BP101WX1=y
CONFIG_LCD_SUPPORT_FX070=y
CONFIG_LCD_SUPPORT_K080_IM2HYL802R_800X1280=y
CONFIG_LCD_SUPPORT_K101_IM2BYL02_L_800X1280=n
#CONFIG_LCD_SUPPORT_GG1P4062UTSW
# CONFIG_LCD_SUPPORT_DX0960BE40A1 is not set
# CONFIG_LCD_SUPPORT_TFT720X1280 is not set
# CONFIG_LCD_SUPPORT_FD055HD003S is not set
CONFIG_LCD_SUPPORT_HE0801A068=y
# CONFIG_LCD_SUPPORT_ILI9341 is not set
# CONFIG_LCD_SUPPORT_LH219WQ1 is not set
# CONFIG_LCD_SUPPORT_LS029B3SX02 is not set
# CONFIG_LCD_SUPPORT_LT070ME05000 is not set
# CONFIG_LCD_SUPPORT_S6D7AA0X01 is not set
# CONFIG_LCD_SUPPORT_T27P06 is not set
# CONFIG_LCD_SUPPORT_TFT720x1280 is not set
# CONFIG_LCD_SUPPORT_WTQ05027D01 is not set
# CONFIG_LCD_SUPPORT_H245QBN02 is not set
# CONFIG_LCD_SUPPORT_ST7789V is not set
# CONFIG_LCD_SUPPORT_ST7796S is not set
# CONFIG_LCD_SUPPORT_ST7701S is not set
# CONFIG_LCD_SUPPORT_T30P106 is not set
# CONFIG_LCD_SUPPORT_TO20T20000 is not set
# CONFIG_LCD_SUPPORT_FRD450H40014 is not set
# CONFIG_LCD_SUPPORT_S2003T46G is not set
# CONFIG_LCD_SUPPORT_WILLIAMLCD is not set
# CONFIG_LCD_SUPPORT_LQ101R1SX03 is not set
# CONFIG_LCD_SUPPORT_INET_DSI_PANEL is not set
# CONFIG_LCD_SUPPORT_WTL096601G03 is not set
CONFIG_LCD_SUPPORT_JD9366AB_3=n
CONFIG_LCD_SUPPORT_TFT08006=y

#
# Display engine feature select
#
# CONFIG_DISP2_SUNXI_SUPPORT_SMBL is not set
# CONFIG_DISP2_SUNXI_SUPPORT_ENAHNCE is not set


#
# Clock
#
CONFIG_CLK_SUNXI=y

# BOOT GUI
#
CONFIG_BOOT_GUI=y
# CONFIG_UPDATE_DISPLAY_MODE is not set
# CONFIG_CONFIG_LCD_CHECK_SKIP_OPEN is not set
# CONFIG_BOOT_GUI_DOUBLE_BUF is not set
# CONFIG_BOOT_GUI_TEST is not set
